body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: forma-djr-display, sans-serif;
}
#container {
  display: flex;
  flex-direction: row; /* default is row, but being explicit helps */
  align-items: center; /* 🔥 this centers chart-containers vertically */
  width: 100vw;
  height: 90vh;
}

.chart-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* this ensures the inner flex items take full height */
}

img, p, h1, h2, h3, .divider, iframe{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
}
h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 32px;
}
p {
    font-family: "early-sans-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2.0;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

iframe {
  max-width: 60%;
  height: 30vw;
}

img {
	display: block;
    padding: 15px 0px;
}

svg {
  width: 100%;
  height: 100%;
}

#tooltip {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  font-size: 14px;
}
#tooltip-note {
  font-style: italic;
  font-size: 12px;
}
#caption {
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}

.divider {
    width: 75%;
    height: 3px;
    background-color: #008853;
    margin-top:20px;
    margin-bottom:20px;
}

#title-caption {
    font-weight: bold;
    font-size: 14px;
    color:blueviolet
}


.line {
  fill: none;
  stroke-width: 5px;
  opacity: 0.5;
}

.circle {
  opacity: 0.5;
}


.label {
  font-size: 12px;
  fill: gray;
  opacity: 0.6;
}

.highlight {
  stroke-width: 8px;
  opacity: 1 !important;
}
